* {
  width: 100%;
  margin: 0;
  
}

.site-header {
  /* width: 100%; */
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 2px solid #333;
  background-color: #fff;

}

.site-header h3 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.site-header nav {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
  /* justify-content: center; */
  /* align-items: center; */
}

.site-header nav a {
  width:100px;
  /* padding-left: 5px; */
  display: flex;
  text-decoration: none;
  border-left: 2px solid #333;
  align-items: center;
  justify-content: center;

  color: #333;
}

.site-header nav a:hover {
  background-color: orange;
}



button {
  border: 2px solid #333;
  border-radius: 25px;
  background-color: #fff;

  display: flex;
  justify-content: center;

  align-items: center;

  width: 100px;
  height: 40px;
}

button:hover {
  background-color: orange;
}
